# Environment Variables
.env

# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Data Storage (Local)
chroma_db/
neuroqueue_data/
logs/

# IDE settings
.vscode/
.idea/

# Mac
.DS_Store

#Doc
project.txt
# *.txt  <-- Commented out to allow requirements.txt